/*
html1 { 
  background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.scrollbar{
height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover{
height: 90%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}
#style-1::-webkit-scrollbar-track{
border-radius: 2px;
}

#style-1::-webkit-scrollbar{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}

.fa-lg {
    font-size: 1em;  
}

.fa {
position: relative;
display: table-cell;
width: 50px;
height: 36px;
text-align: center;
top:10px; 
font-size:20px;
}
.menu:hover, nav.menu.expanded{
width:400px;
overflow:hidden;
opacity:1;
}
.menu1:hover, nav.menu1.expanded{
width:400px;
overflow:hidden;
opacity:1;
}
.nav-slide
{
    position: fixed;
    top:0px;
    left: -200px;
    width: 200px;
    border-bottom-right-radius: 5px;
}
.btn-slide
{
    position: absolute;
    top: 0;
    right: -32px;
    width: 10px;
    height: 20px;
    padding: 10px 15px 10px 10px;
    background: #00bbbb;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #00bbbb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu {
background:#F7F7F7;
position:fixed;
top:60px;
z-index:1;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}
.menu1 {
background:#F7F7F7;
position:fixed;
top:55px;
z-index:1;
bottom:0;
height:10%;
left:0;
width:420px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}

.menu>ul {
margin:7px 0;

}

.menu li {
position:relative;
display:block;
width:400px;
left:0px;
}

.menu li>a {

position:relative;
width:400px;
display:table-row-group;
border-collapse:collapse;
border-spacing:0;
color:#8a8a8a;
font-size: 13px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: 'Strait', sans-serif;
border-top:1px solid #f2f2f2;
text-shadow: 1px 1px 1px  #fff;
height: 36px;

}


.menu .nav-text  {
   
position:relative;
display:table-cell;
vertical-align:middle;
width:400px;
font-family: 'Titillium Web', sans-serif;

}

a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;



}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;  
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;

}

.darkerli
{
background-color:#ededed;
text-transform:capitalize;  
}


.menu li:hover>a,nav.menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#00bbbb;
text-shadow: 0px 0px 0px; 
}

.menu ul .submenu {
  display: none;
  position: static;
  width:385px;
}

.menu ul .submenu ul {
  display: none;
  position: static;
  width:370px;
}

.menu ul .submenu ul ul{
  display: none;
  position: static;
  width:355px;
}
.menu ul .submenu ul ul ul{
  display: none;
  position: static;
  width:340px;
}


.menu ul .submenu .submenu-indicator { 
    line-height: 16px; 

}
.menu ul .submenu li {
  clear: both;
  width: 100%;
  padding-left: 15px;
}
.menu ul .submenu li ul .submenu {
  display: none;
  position: static;
  width: 100%;
  overflow: hidden;


}
.menu ul .submenu > li > a { 
 padding-left: 120px; 
}
.menu ul .submenu > li > ul.submenu > li > a { 
padding-left: 45px; 
}

.menu ul .submenu > li > ul.submenu > li > ul.submenu > li > a { 
    padding-left: 60px;
}
.menu .submenu-indicator {
  -moz-transition: "transform .3s linear";
  -o-transition: "transform .3s linear";
  -webkit-transition: "transform .3s linear";
  transition: "transform .3s linear";
  float: right;
  font-size: 20px;
  line-height: 19px;
  position: absolute;
  right: 22px;
  top:10px;
}

.menu .submenu-indicator-minus > .submenu-indicator {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu ul .submenu ul .submenu  .submenu-indicator {
right: 38px;
}
.menu ul .submenu ul .submenu .submenu .submenu-indicator {
right: 52px;
}


.ink {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: block;
  position: absolute;
  transform: scale(0);
}

.animate-ink {
  -moz-animation: ripple .3s linear;
  -ms-animation: ripple .3s linear;
  -o-animation: ripple .3s linear;
  -webkit-animation: ripple .3s linear;
  animation: ripple .3s linear;
}

@-webkit-keyframes 'ripple' {
 100% {
 opacity: 0;
 transform: scale(2.5);
}
}











